.btn{
    position: relative;
}
.span1{
    color: ghostwhite;
    transition: all 0.2s;
}
.btnSub .span1{
    visibility: hidden;
    opacity: 0;
}
.btnSub:after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 3px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    animation: button-loader-spinner 1s ease infinite;
}
@keyframes button-loader-spinner {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}