<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div th:fragment="homeview">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><span>Home</span></a></li>
            <li class="breadcrumb-item"><a href="#"><span>Library</span></a></li>
            <li class="breadcrumb-item"><a href="#"><span>Data</span></a></li>
        </ol>
        <header class="header-dark">
            <div class="container hero">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h1 class="text-center shadow">The Best To-do Maker is Here.</h1>
                        <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://player.vimeo.com/video/464966098?title=0&portrait=0&byline=0&autoplay=1"></iframe></div>
                        <p class="text-monospace text-center text-white" style="font-family: Actor, sans-serif;">This Video is contributed By Zen Chung on pixels.com</p>
                    </div>
                </div>
            </div>
            <p class="text-center text-white" style="padding: 5px;margin: 23px 0px -45px;font-size: 22px;font-family: Actor, sans-serif;font-weight: bold;">Now, no worry for remember your tasks, notes. Just save it all here.</p>
        </header>
        <section class="features-blue">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Features</h2>
                    <p class="text-center">In this To-Do Application you can find below functionalities for save your daily tasks, notes and many more.</p>
                </div>
                <div class="row features">
                    <div class="col-sm-6 col-md-4 item"><i class="fa fa-map-marked icon"></i>
                        <h3 class="name">Works everywhere</h3>
                        <p class="description">This Application can work everywhere in the world, where you are in just one sign in.</p>
                    </div>
                    <div class="col-sm-6 col-md-4 item"><i class="fas fa-clock icon"></i>
                        <h3 class="name">Always available</h3>
                        <p class="description">Your To-Do application is always for you. This Application is with you everywhere at any time 24*7.</p>
                    </div>
                    <div class="col-sm-6 col-md-4 item"><i class="fa fa-list-alt icon"></i>
                        <h3 class="name">Customizable</h3>
                        <p class="description">Your To-Do application is fully dynamic and robust. you can customize it according to yourself.</p>
                    </div>
                    <div class="col-sm-6 col-md-4 item"><i class="fa fa-leaf icon"></i>
                        <h3 class="name">Full Control</h3>
                        <p class="description">You can fully control your notes, tasks once you sign in into the application. It's completely easy. In just one clicks you can update, delete and save your data into the application.</p>
                    </div>
                    <div class="col-sm-6 col-md-4 item"><i class="fa fa-plane icon"></i>
                        <h3 class="name">Fast</h3>
                        <p class="description">It's fast as it should be. According the server machine, I tried to do the UI best for faster use.</p>
                    </div>
                    <div class="col-sm-6 col-md-4 item"><i class="fa fa-phone icon"></i>
                        <h3 class="name">Mobile-first</h3>
                        <p class="description">Now, Your To-Do application is responsive. You can use it in your mobile phones easily.&nbsp;</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>