<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Appzi: Capture Insightful Feedback -->
    <script async src="https://w.appzi.io/w.js?token=p3rV1"></script>
    <!-- End Appzi -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MyTodoAPP</title>
    <link rel="stylesheet" th:href="@{assets/css/ButtonAnimation.css}">
    <link rel="stylesheet" th:href="@{assets/css/ScrollBox1.css}">
    <link rel="stylesheet" th:href="@{assets/css/ScrollBox2.css}">
    <link rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{assets/css/Custom-File-Upload.css}">
    <link rel="stylesheet" th:href="@{assets/css/Features-Blue.css}">
    <link rel="stylesheet" th:href="@{assets/css/Footer-Basic.css}">
    <link rel="stylesheet" th:href="@{assets/css/Header-Dark.css}">
    <link rel="stylesheet" th:href="@{assets/css/Highlight-Clean.css}">
    <link rel="stylesheet" th:href="@{assets/css/Highlight-Phone.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" th:href="@{assets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-1.css}">
    <link rel="stylesheet" th:href="@{assets/css/Navigation-with-Button.css}">
    <link rel="stylesheet" th:href="@{assets/css/Social-Icons.css}">
    <link rel="stylesheet" th:href="@{assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{assets/css/Table-With-Search-1.css}">
    <link rel="stylesheet" th:href="@{assets/css/Table-With-Search.css}">
</head>
<body>

</body>
</html>