<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Covid19</title>
    <link rel="stylesheet" href="assets/css/x-dropdown.css">
    <link rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/styles.css}">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Jumbotron-with-Particles-js-1.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Jumbotron-with-Particles-js.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.min.css">
</head>
<body>
    <div class="jumbotron jumbotron-fluid jumbotron-main"><script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
    <div id="particles-js">
	<canvas class="particles-js-canvas-el" width="1409" height="319" style="width: 100%; height: 100%;"></canvas>
	</div>
        <div class="container center-vertically-holder" style="margin-top:-20px;">
            <div class="row center-vertically">
                <div class="col-md-8 offset-sm-0 offset-md-2 text-center" style="margin-top:100px;margin-bottom:100px;">
                    <h1>Life isn't about waiting for the storm to pass
                        It's about learning how to <strong>DANCE IN THE RAIN</strong><br><br></h1>
                    <hr style="border-top:1px;color:rgba(255,255,255,0.9);width:60%;margin:0px;margin-top:-50px;margin-bottom:10px;margin-left:20%;">
                    <p>Don't lose hope.
                        When the sun goes down, the stars come out.</p>
                    <p><a class="btn btn-primary" role="button" th:href="@{/welcome}">BACK HOME</a></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container" style="text-align: center">
    <div class="dropdown" style="display: inline-block">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Your State
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form th:each="sl : ${stateList}" th:action="@{/covidgo2}">
                <input type="hidden" name="state_id" value="name" th:value="${sl.get('state_id')}">
                <button type="submit" style="background: none;border: 0" ><a class="dropdown-item" th:text="${sl.get('state_name')}"></a></button>
            </form>
        </div>
    </div>
        <div class="dropdown" style="display: inline-block">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Select Your District
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form th:each="dl : ${distList}" th:action="@{/covidgo3}">
                    <input type="hidden" name="dist_id" value="name" th:value="${dl.get('district_id')}">
                    <button type="submit"  style="background: none;border: 0" ><a class="dropdown-item" th:text="${dl.get('district_name')}"></a></button>
                </form>
            </div>
        </div>
        <div th:if="${count>0}" style="display: inline-block">
            <form th:action="@{/covidVaccine}">
                <input type="date" name="date" required>
                <input type="hidden" name="dist_id" th:value="${dist_id}">
                <button type="submit" class="btn btn-dark">Check</button>
            </form>
        </div>
    </div>

    <script src="assets/js/Bold-BS4-Jumbotron-with-Particles-js.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>