<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="assets/css/404-NOT-FOUND-animated.css">
      <title>ERROR</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <script src="assets/js/jquery.min.js"></script>
</head>
<body class="bg-purple">
  <div class="stars">
    <div class="central-body">
      <img class="image-404" src="assets/svgFiles/404.svg"  width="300px">
        <a href="" th:href="@{/welcome}" class="btn-go-home" >HOME</a>
      <h2 style="color: azure;">Something Wrong Happened! Please Try Again...</h2>
    </div>
    <div class="objects">
      <img class="object_rocket" src="assets/svgFiles/rocket.svg" width="40px">
      <div class="earth-moon">
        <img class="object_earth" src="assets/svgFiles/earth.svg" width="100px">
        <img class="object_moon" src="assets/svgFiles/moon.svg" width="80px">
      </div>
      <div class="box_astronaut">
        <img class="object_astronaut" src="assets/svgFiles/astronaut.svg" width="140px">
      </div>
    </div>
    <div class="glowing_stars">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>

    </div>

  </div>

</body>
</html>
